header {
    padding-top: 8rem;
    overflow: hidden;

    .header_container {
        text-align: center;
        height: 100%;
        position: relative;

        .cta {
            margin-top: 2.5rem;
            display: flex;
            gap: 1.2rem;
            justify-content: center;
        }

        .row {
            .header_socials {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.8rem;
                position: absolute;
                left: 0;
                bottom: 3rem;

                &::after {
                    content: '';
                    width: 2px;
                    height: 2rem;
                    background: $color_primary;
                }
            }

            .me {
                background: linear-gradient(var(--color_primary), transparent);
                padding-top: 3rem;
                border-radius: 12rem 12rem 0 0;
                overflow: hidden;
            }

            .scroll_down {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.8rem;
                position: absolute;
                right: 0;
                bottom: 8rem;
            }
        }
    }
}



/* ========== Media Query Medium Devices */
@media screen and (max-width: 991.98px) {
    header{
        padding-top: 6rem;
    }
}

/* ========== Media Query Small Devices */
@media screen and (max-width: 575.98px) {
    header {
        padding-top: 4rem;

        .header_container {
            .row {
                .header_socials,
                .scroll_down {
                    display: none;
                }

                .cta {
                    margin-top: 2rem;
                    gap: 1rem;
                }

                .me{
                    padding-top: 3rem;
                }
            }
        }
    }
}