@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}
html body {
  font-family: "Poppins", sans-serif;
  background: #1f1f38;
  color: #fff;
  line-height: 1.7;
  background-image: url(../public/assets/bg-texture.png);
  /* ======= Media Queries Medium Devices ======== */
  /* ======= Media Queries Small Devices ======== */
  /* ======== CSS Import From Components ======= */
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  font-weight: 500;
}
html body h1 {
  font-size: 2.5rem;
}
html body .text_light {
  color: rgba(255, 255, 255, 0.6);
}
html body a {
  color: #90B77D;
  transition: all 400ms ease;
  text-decoration: none;
}
html body a:hover {
  color: #fff;
}
html body .html5 {
  color: #e34f26;
}
html body .css3 {
  color: #264de4;
}
html body .js {
  color: #f7df1e;
}
html body .sass {
  color: #c69;
}
html body .bootstrap {
  color: #6e12ef;
}
html body .git {
  color: #e84d31;
}
html body .react {
  color: #78def8;
}
html body .nextjs {
  color: #000;
}
html body .btn {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #90B77D;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  border: 1px solid #90B77D;
  transition: all 400ms ease;
}
html body .btn:hover {
  background: #fff;
  color: #1f1f38;
  border-color: transparent;
}
html body .btn_primary {
  background: #90B77D;
  color: #1f1f38;
}
html body section h2,
html body section h5 {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
html body section h2 {
  color: #90B77D;
}
html body .title {
  margin-bottom: 4rem;
}
html body .section_gap {
  padding-bottom: 8rem;
}
html body .footer {
  padding: 8rem 0;
}
@media screen and (max-width: 991.98px) {
  html body .section_gap {
    padding-bottom: 6rem;
  }
  html body .title {
    margin-bottom: 3rem;
  }
  html body .title h2 {
    margin-bottom: 0;
  }
  html body .footer {
    padding: 6rem 0;
  }
}
@media screen and (max-width: 575.98px) {
  html body h1 {
    font-size: 2rem;
  }
  html body .section_gap {
    padding-bottom: 4rem;
  }
  html body section h1 {
    font-size: 2rem;
  }
  html body section .btn {
    padding: 0.5rem 1rem;
  }
  html body .footer {
    padding: 4rem 0 6rem 0;
  }
}
html body .nav-section .container nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 1rem;
  backdrop-filter: blur(15px);
}
html body .nav-section .container nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
}
html body .nav-section .container nav a:hover {
  background-color: #90B77D;
}
html body .nav-section .container nav .active {
  background: #90B77D;
  color: #fff;
}
@media screen and (max-width: 575.98px) {
  html body .nav-section .container nav {
    gap: 0.25rem;
    bottom: 1rem;
  }
  html body .nav-section .container nav a {
    font-size: 1rem;
  }
}
html body .about {
  padding-top: 8rem;
}
html body .about .about_container .row .about_me {
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 0.875rem;
  background: linear-gradient(45deg, transparent, #90B77D, transparent);
  display: grid;
  place-items: center;
}
html body .about .about_container .row .about_me .about_img {
  height: 100%;
  overflow: hidden;
  transform: rotate(8deg);
  transition: all 400ms ease;
}
html body .about .about_container .row .about_me .about_img:hover {
  transform: rotate(0);
}
html body .about .about_container .row .about_me .about_img span {
  border-radius: 0.875rem;
}
html body .about .about_container .row .about_content .about_cards .card_item {
  background: #2c2c6c;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: all 400ms ease;
  width: 100%;
  height: 100%;
}
html body .about .about_container .row .about_content .about_cards .card_item:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  cursor: default;
}
html body .about .about_container .row .about_content .about_cards .card_item h5 {
  font-size: 1.25rem;
}
html body .about .about_container .row .about_content .about_cards .card_item small {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.6);
}
html body .about .about_container .row .about_content .about_cards .card_item .about_icon {
  color: #90B77D;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
html body .about .about_container .row .about_content .about_desc {
  margin-top: 0 !important;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 991.98px) {
  html body .about .about {
    padding-top: 6rem;
  }
}
@media screen and (max-width: 575.98px) {
  html body .about .about {
    padding-top: 4rem;
  }
  html body .about .about .about_container .row .about_me {
    width: 75%;
  }
}
html body .skills .skills_container .row .frontend {
  background-color: #2c2c6c;
  padding: 3rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
html body .skills .skills_container .row .frontend:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  cursor: default;
}
html body .skills .skills_container .row .frontend .row .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.8rem;
}
html body .skills .skills_container .row .frontend .row .item:hover .icon {
  background-color: rgba(77, 181, 255, 0.4);
}
html body .skills .skills_container .row .frontend .row .item .icon {
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border-radius: 50%;
  transition: all 400ms ease;
}
html body .skills .skills_container .row .frontend .row .item h5 {
  margin-bottom: 0;
}
@media screen and (max-width: 575.98px) {
  html body .skills .skills_container .row .frontend {
    padding: 3rem 1.5rem;
    border-radius: 0.875rem;
  }
  html body .skills .skills_container .row .frontend .row .item {
    justify-content: space-around;
    font-size: 2rem;
  }
  html body .skills .skills_container .row .frontend .row .item h5 {
    display: none;
  }
}
html body .experience .experience_container .row {
  justify-content: center;
}
html body .experience .experience_container .row .item {
  background-color: #2c2c6c;
  padding: 2rem 1.5rem;
  border-radius: 0.875rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
html body .experience .experience_container .row .item:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  cursor: default;
}
html body .experience .experience_container .row .item .icon {
  background-color: #fff;
  color: #1f1f38;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 400ms ease;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
html body .experience .experience_container .row .item .title {
  margin-bottom: 1.5rem;
  color: #fff;
}
html body .experience .experience_container .row .item .description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
html body .experience .experience_container .row .item .description .designation,
html body .experience .experience_container .row .item .description .duration {
  color: rgba(255, 255, 255, 0.6);
}
html body .experience .experience_container .row .item .description .designation {
  margin-bottom: 0;
}
html body .experience .experience_container .row .item .description .duration {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .experience .experience_container .row .item .description .duration .durationIcon {
  color: #90B77D;
  margin-right: 8px;
}
@media screen and (max-width: 575.98px) {
  html body .experience .experience_container .row .item {
    border-radius: 0.375rem;
    padding: 1rem;
  }
  html body .experience .experience_container .row .item .title {
    font-size: 18px;
  }
  html body .experience .experience_container .row .item .details .designation,
html body .experience .experience_container .row .item .details .duration {
    font-size: 15px;
  }
  html body .experience .experience_container .row .item .details .duration {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  html body .experience .experience_container .row .item .details .duration .icon {
    color: #90B77D;
    margin-right: 6px;
  }
}
html body .portfolio .portfolio_container .row {
  justify-content: center;
}
html body .portfolio .portfolio_container .row .col .item {
  background-color: #2c2c6c;
  padding: 1.5rem;
  border-radius: 0.875rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
html body .portfolio .portfolio_container .row .col .item:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  cursor: default;
}
html body .portfolio .portfolio_container .row .col .item:hover .item_img span {
  transform: scale(1.05);
}
html body .portfolio .portfolio_container .row .col .item .item_img span {
  border-radius: 0.375rem;
  display: block;
  transition: all 400ms ease;
}
html body .portfolio .portfolio_container .row .col .item h5 {
  margin: 1rem 0;
  color: #fff;
}
html body .portfolio .portfolio_container .row .col .item p {
  text-align: center;
}
html body .portfolio .portfolio_container .row .col .item p .icon {
  font-size: 20px;
}
html body .portfolio .portfolio_container .row .col .item p .icon:not(:last-child) {
  margin-right: 6px;
}
html body .portfolio .portfolio_container .row .col .item .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .portfolio .portfolio_container .row .col .item .buttons .btn {
  border-radius: 0.375rem;
  transition: all 400ms ease;
}
html body .portfolio .portfolio_container .row .col .item .buttons .btn_primary {
  margin-right: 1rem;
}
html body .testimonial .testimonial_container .row {
  justify-content: center;
}
html body .testimonial .testimonial_container .row .swiper .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2c2c6c;
  padding: 2rem;
  border-radius: 0.875rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
html body .testimonial .testimonial_container .row .swiper .item:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  cursor: default;
}
html body .testimonial .testimonial_container .row .swiper .item:hover .img span {
  transform: scale(1.05);
}
html body .testimonial .testimonial_container .row .swiper .item .img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 0.25rem solid #90B77D;
}
html body .testimonial .testimonial_container .row .swiper .item .img span {
  border-radius: 50%;
  transition: all 400ms ease;
}
html body .testimonial .testimonial_container .row .swiper .item h5 {
  margin: 1.5rem 0;
}
html body .testimonial .testimonial_container .row .swiper .swiper-pagination .swiper-pagination-bullet {
  background: #90B77D;
}
html body .testimonial .testimonial_container .row .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #90B77D !important;
}
html body .contact .contact_container .row:not(:last-child) {
  margin-bottom: 3rem;
}
html body .contact .contact_container .row .item {
  background-color: #2c2c6c;
  border: 1px solid transparent;
  border-radius: 0.875rem;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  transition: all 400ms ease;
}
html body .contact .contact_container .row .item:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  cursor: default;
}
html body .contact .contact_container .row .item:not(:last-child) {
  margin-bottom: 2rem;
}
html body .contact .contact_container .row .item .icon {
  font-size: 1.5rem;
  display: grid;
  align-items: flex-start;
  justify-content: center;
}
html body .contact .contact_container .row .item .email {
  color: #e8c01d;
}
html body .contact .contact_container .row .item .messanger {
  color: #006AFF;
}
html body .contact .contact_container .row .item .whatsapp {
  color: #42bd51;
}
html body .contact .contact_container .row .item .name {
  margin-bottom: 0;
  padding: 12px 0;
}
html body .contact .contact_container .row .item .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .contact .contact_container .row .contact_form .name,
html body .contact .contact_container .row .contact_form .email,
html body .contact .contact_container .row .contact_form .message {
  background-color: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  padding: 1rem;
  transition: all 400ms ease;
  color: #fff;
}
html body .contact .contact_container .row .contact_form .name:not(:last-child),
html body .contact .contact_container .row .contact_form .email:not(:last-child),
html body .contact .contact_container .row .contact_form .message:not(:last-child) {
  margin-bottom: 1.5rem;
}
html body .contact .contact_container .row .contact_form .name:focus,
html body .contact .contact_container .row .contact_form .email:focus,
html body .contact .contact_container .row .contact_form .message:focus {
  box-shadow: none;
  background-color: #2c2c6c;
}
html body .contact .contact_container .row .contact_form .form_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .contact .contact_container .row .contact_form .form_button .btn {
  border-radius: 0.875rem;
  padding: 0.75rem 2rem;
}
@media screen and (max-width: 575.98px) {
  html body .contact .contact_container .row:not(:last-child) {
    margin-bottom: 2rem;
  }
  html body .contact .contact_container .row .item {
    border-radius: 0.375rem;
  }
  html body .contact .contact_container .row .contact_form .name,
html body .contact .contact_container .row .contact_form .email,
html body .contact .contact_container .row .contact_form .message {
    padding: 0.5rem;
  }
  html body .contact .contact_container .row .contact_form .message {
    line-height: 0.8;
  }
}
html body .footer {
  background-color: rgba(77, 181, 255, 0.4);
}
html body .footer .footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html body .footer .footer_container .footer_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}
html body .footer .footer_container .footer_socials .icon {
  font-size: 1.5rem;
}
html body .footer .footer_container .footer_socials .icon:not(:last-child) {
  margin-right: 1rem;
}
@media screen and (max-width: 575.98px) {
  html body .footer .footer_container {
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;
  }
  html body .footer .footer_container .footer_socials {
    padding-bottom: 0;
  }
  html body .footer .footer_container .footer_socials .icon {
    font-size: 1.25rem;
  }
  html body .footer .footer_container .footer_copyright {
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=globals.css.map */