.experience {
    .experience_container {
        .row {
            justify-content: center;
            
            .item {
                background-color: $color_bg_variant;
                padding: 2rem 1.5rem;
                border-radius: $md_radius;
                border: 1px solid transparent;
                transition: $transition;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                &:hover {
                    background: transparent;
                    border-color: $color_primary_variant;
                    cursor: default;
                }

                .icon {
                    background-color: $color_white;
                    color: $color_bg_variant;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: $circle_radius;
                    transition: $transition;
                    font-size: 1.8rem;
                    margin-bottom: 1rem;
                }

                .title {
                    margin-bottom: 1.5rem;
                    color: $color_white;
                }

                .description {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .designation,
                    .duration {
                        color: $color_light;
                    }

                    .designation {
                        margin-bottom: 0;
                    }

                    .duration {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .durationIcon {
                            color: $color_primary;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }


    // Responsive LG Devices
    @media screen and (max-width: 991.98px) {}


    // Responsive MD Devices
    @media screen and (max-width: 767.98px) {}


    // Responsive SM Devices
    @media screen and (max-width: 575.98px) {
        .experience_container {
            .row {
                .item {
                    border-radius: $sm_radius;
                    padding: 1rem;

                    .title {
                        font-size: 18px;
                    }

                    .details {

                        .designation,
                        .duration {
                            font-size: 15px;
                        }

                        .duration {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .icon {
                                color: $color_primary;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
        }
    }

}