.experience {
    .experience_container {
        .row {
            .item {
                background-color: $color_bg_variant;
                padding: 2rem;
                border-radius: $md_radius;
                border: 1px solid transparent;
                transition: $transition;

                &:hover {
                    background: transparent;
                    border-color: $color_primary_variant;
                    cursor: default;
                }

                .title {
                    margin-bottom: 1.5rem;
                    color: $color_white;
                }

                .details {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .designation,
                    .duration {
                        color: $color_light;
                    }

                    .designation {
                        margin-bottom: 0;
                    }

                    .duration {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .icon {
                            color: $color_primary;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }


    // Responsive LG Devices
    @media screen and (max-width: 991.98px) {}


    // Responsive MD Devices
    @media screen and (max-width: 767.98px) {}


    // Responsive SM Devices
    @media screen and (max-width: 575.98px) {
        .experience_container {
            .row {
                .item {
                    border-radius: $sm_radius;

                    .title{
                        font-size: 18px;
                    }

                    .details {
                        .designation,
                        .duration {
                            font-size: 15px;
                        }
    
                        .duration {
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                            .icon {
                                color: $color_primary;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
        }
    }

}