.footer {
    background-color: $color_bg_variant;
    margin-top: 6rem;
    padding-top: 5rem;


    .footer_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1.5rem;

        .footer_socials {
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                font-size: 1.5rem;

                &:not(:last-child) {
                    margin-right: 1rem;
                }

                &:hover {
                    color: $color_primary;
                }
            }

            .linkedin {
                color: $color_linkedin;
            }

            .github {
                color: $color_github;
            }

            .twitter {
                color: $color_twitter;
            }
        }

        // .footer_copyright{

        // }
    }
}


// Responsive for Medium Device
@media screen and (max-width: 767.98px) {
    .footer {
        margin-top: 4rem;
    }
}

// Responsive for Small Device
@media screen and (max-width: 575.98px) {
    .footer {
        margin-top: 3rem;
        padding: 3rem 0 5rem 0;

        .footer_container {
            display: grid;
            justify-content: center;
            margin-bottom: 0;

            .footer_socials {
                padding-bottom: 0;

                .icon {
                    font-size: 1.25rem;
                }
            }

            .footer_copyright {
                margin-bottom: 1rem;
            }
        }
    }
}