.footer{
    background-color: $color_primary_variant;

    .footer_container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .footer_socials{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 1rem;

            .icon{
                font-size: 1.5rem;

                &:not(:last-child){
                    margin-right: 1rem;
                }
            }

            // .linkedin{}

            // .github{}

            // .twitter{}
        }

        // .footer_copyright{
            
        // }
    }


    // Responsive for Medium Device
    @media screen and (max-width: 767.98px) {
        .footer_container{
            

        }
    }

    // Responsive for Small Device
    @media screen and (max-width: 575.98px) {
        .footer_container{
            display: grid;
            justify-content: center;
            margin-bottom: 1rem;

            .footer_socials{
                padding-bottom: 0;

                .icon{
                    font-size: 1.25rem;
                }
            }

            .footer_copyright{
                margin-bottom: 1rem;
            }
        }
    }

}