.portfolio{
    .portfolio_container{
        .row{
            .col{
                .item{
                    background-color: $color_bg_variant;
                    padding: 2rem;
                    border-radius: $md_radius;
                    border: 1px solid transparent;
                    transition: $transition;

                    &:hover{
                        background: transparent;
                        border-color: $color_primary_variant;
                        cursor: default;

                        .item_img{
                            span{
                                transform: scale(1.05);
                            }
                        }
                    }

                    .item_img{
                        span{
                            border-radius: $sm_radius;
                            display: block;
                            transition: $transition;
                        }
                    }

                    h5{
                        margin: 1.5rem 0;
                        color: $color_white;
                    }

                    .buttons{
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .btn{
                            border-radius: $sm_radius;
                            transition: $transition;
                        }

                        .btn_primary{
                            margin-right: 1rem;
                        }
                    }

                }
            }
        }
    }
}