.portfolio {
    .portfolio_container {
        .row {
            justify-content: center;

            .col {
                .item {
                    background-color: $color_bg_variant;
                    border-radius: $sm_radius;
                    border: 1px solid transparent;
                    transition: $transition;

                    span {
                        border-radius: $sm_radius $sm_radius 0 0;
                    }

                    &:hover {
                        background: transparent;
                        border-color: $color_primary_variant;
                    }

                    .card-body {
                        padding-top: 0;

                        h5 {
                            margin: 1rem 0;
                            color: $color_white;
                        }

                        p {
                            text-align: center;

                            .icon {
                                font-size: 20px;

                                &:not(:last-child) {
                                    margin-right: 6px;
                                }
                            }
                        }

                        .buttons {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .btn {
                                border-radius: $sm_radius;
                                transition: $transition;
                            }

                            .btn_primary {
                                margin-right: 1rem;
                            }
                        }
                    }



                }
            }
        }
    }
}