.services{
    .service_container{
        .row{
            justify-content: center;

            .item{
                background-color: $color_bg_variant;
                padding: 3rem;
                border-radius: $big_radius;
                border: 1px solid transparent;
                transition: $transition;

                &:hover{
                    background: transparent;
                    border-color: $color_primary_variant;
                    cursor: default;

                    .service_des{
                        .service_img{
                            span{
                                transform: rotate(0);
                            }
                        }
                    }

                }

                h4{
                    text-align: center;
                    margin-bottom: 2.5rem;
                }

                .service_des{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .service_img{
                        max-width: 50%;
                        margin-right: 3rem;

                        span{
                            transition: $transition;
                            border-radius: $sm_radius;
                            transform: rotate(-10deg);
                        }
                    }

                    ul{
                        list-style: none;
                        line-height: 2;
                        display: grid;
                        align-items: center;
                        justify-content: center;
                        padding: 0;
                        margin-bottom: 0;                        
                    }
                } 
            }
        }
    }


    // Responsive LG Devices
    @media screen and (max-width: 991.98px) {
        
    }


    // Responsive MD Devices
    @media screen and (max-width: 767.98px) {
        
    }


    // Responsive SM Devices
    @media screen and (max-width: 575.98px) {
        .service_container{
            .row{
                .item{
                    padding: 3rem 1.5rem;
                    border-radius: $md_radius;
    
                    h4{
                        margin-bottom: 2rem;
                    }
    
                    .service_des{
                        display: grid;
                        align-items: center;
                        justify-content: center;
    
                        .service_img{
                            max-width: 100%;
                            margin-right: 0;
                            margin-bottom: 1rem;

                            span{
                                transform: rotate(0);

                            }
                        }
                    } 
                }
            }
        }
    }


}