.nav-section{
    .container{
        nav{
            background: rgba(0, 0, 0, 0.3);
            width: max-content;
            display: block;
            padding: 0.7rem 1.7rem;
            z-index: 2;
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            bottom: 2rem;
            display: flex;
            gap: 0.8rem;
            border-radius: $md_radius;
            backdrop-filter: blur(15px);

            a{
                background: transparent;
                padding: 0.9rem;
                border-radius: 50%;
                display: flex;
                color: $color_light;
                font-size: 1.5rem;

                &:hover{
                    background-color: $color_primary;
                }
            }

            .active{
                background: $color_primary;
                color: $color_white;
            }
        }
    }


    // Responsive for Medium Devices
    @media screen and (max-width: 991.98px) {
        
    }

    // Responsive for Small Devices
    @media screen and (max-width: 575.98px) {
        .container{
            nav{
                gap: 0.25rem;
                bottom: 1rem;

                a{
                    font-size: 1rem;
                }
            }
        }
    }


}