.about {
    .about_container {
        .row {
            .about_me {
                width: 80%;
                aspect-ratio: 1/1;
                border-radius: 2rem;
                background: linear-gradient(45deg,
                        transparent,
                        $color_primary,
                        transparent);
                display: grid;
                place-items: center;

                .about_img {
                    border-radius: 2rem;
                    overflow: hidden;
                    transform: rotate(10deg);
                    transition: $transition;

                    &:hover {
                        transform: rotate(0);
                    }
                }
            }

            .about_content {
                .about_cards {
                    .card_item {
                        background: $color_bg_variant;
                        border: 1px solid transparent;
                        border-radius: 1rem;
                        padding: 2rem;
                        text-align: center;
                        transition: $transition;
                        width: 100%;
                        height: 100%;

                        &:hover {
                            background: transparent;
                            border-color: $color_primary_variant;
                            cursor: default;
                        }

                        h5 {
                            font-size: 1.25rem;
                        }

                        small {
                            font-size: 0.7rem;
                            color: $color_light;
                        }

                        .about_icon {
                            color: $color_primary;
                            font-size: 1.4rem;
                            margin-bottom: 1rem;
                        }
                    }
                }

                .about_desc {
                    margin-bottom: 2rem;
                    color: $color_light;
                }
            }
        }
    }


    // Responsive md Devices
    @media screen and (max-width: 991.98px) {
        .about {
            
        }
        

    }

    // Responsive sm Devices
    @media screen and (max-width: 575.98px) {
        .about {
            .about_container {
                .row {
                    .about_me {
                        width: 75%;
                    }
                }
            }
        }


    }
}